.menu-title {
    width: 800px; 
    margin: 0 auto; 
    text-align: center;
    font-size: 25px;
    color: #9c1010;
  }

  h1 {
    font-family: "Georgia", serif;
    font-size: 45px;
    margin:  0 auto;
    width:  800px;
    color: #9c1010;
    text-align: center;
  }

  h2 {
    font-family: "Georgia", serif;
    font-size: 45px;
    width: 800px;
    margin:  0 auto;
    text-align: center;
    color: #9c1010;
  }

  a {
    color: #9c1010;
    font-family: "Georgia", serif;
    font-size: 25px;
    width: 800px;
    margin:  0 auto;
    text-align: center;
  }

  p {
    color: #9c1010;
    font-family: "Georgia", serif;
    font-size: 25px;
    width: 800px;
    margin:  0 auto;
    text-align: center;
  }
ul {
  color: #991b26;
    font-family: "Georgia", serif;
    font-size: 25px;
    margin:  0 auto;
    text-align: center;
    list-style-position: inside;  box */
   display: flex;
   width: 800px;

}

body {
  line-height: 1.6; 
}

p {
  margin-bottom: 20px; 
}

h1, h2,  {
  margin-top: 30px;   
  margin-bottom: 15px;
}

 body{
  background-color: aliceblue;
 }

 img {
  display: block; /* Make the image a block-level element */
  margin: 0 auto; /* Top/bottom margin: 0, left/right margin: auto (centers horizontally) */
}